**BUSINESS CASE**

In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame

**Q1: Import the input.csv data accurately**

In [3]:
df=pd.read_csv('C:\\Users\\HP\\Downloads\\input.csv')
df

,PartnerID New,Group Name or Partner Name,Current PL,PN,Conca,201644,201645,201646,201647,201648,201649,201650,201651,201652,201701,201702,201703,201704,201705,201706
0,NaN,NaN,1N,51645AE,NA51645AE,109.0,104.0,90.0,97.0,72.0,133.0,107.0,101.0,9.0,107.0,44.0,121.0,24.0,17.0,23.0
1,NaN,NaN,1N,51645GE,NA51645GE,0.0,NaN,NaN,5.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,1N,C1823D,NAC1823D,2.0,NaN,NaN,NaN,0.0,NaN,0.0,8.0,NaN,NaN,7.0,NaN,0.0,5.0,NaN
3,NaN,NaN,1N,C1823DE,NAC1823DE,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,1N,C2N92AE,NAC2N92AE,96.0,81.0,48.0,58.0,51.0,65.0,48.0,41.0,18.0,17.0,28.0,41.0,30.0,25.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15302,Westcoast Group,Westcoast,K6,L0S07AE,Westcoast GroupL0S07AE,5.0,2.0,49.0,23.0,369.0,281.0,154.0,132.0,130.0,63.0,65.0,44.0,22.0,1.0,NaN
15303,Westcoast Group,Westcoast,K6,L0S20YC,Westcoast GroupL0S20YC,45.0,39.0,39.0,32.0,94.0,74.0,67.0,51.0,NaN,40.0,36.0,26.0,17.0,21.0,11.0
15304,Westcoast Group,Westcoast,K6,L0S29YC,Westcoast GroupL0S29YC,50.0,45.0,53.0,47.0,105.0,90.0,82.0,75.0,NaN,66.0,59.0,52.0,46.0,42.0,33.0
15305,Westcoast Group,Westcoast,K6,L0S30YC,Westcoast GroupL0S30YC,60.0,49.0,59.0,54.0,111.0,105.0,97.0,89.0,NaN,84.0,75.0,71.0,65.0,63.0,53.0
15306,Westcoast Group,Westcoast,K6,L0S31YC,Westcoast GroupL0S31YC,51.0,48.0,60.0,49.0,106.0,93.0,86.0,80.0,NaN,72.0,68.0,66.0,57.0,55.0,47.0

**Q2: Find column names**

In [4]:
df.columns

Index(['PartnerID New', 'Group Name or Partner Name', 'Current PL', 'PN',
       'Conca', '201644', '201645', '201646', '201647', '201648', '201649',
       '201650', '201651', '201652', '201701', '201702', '201703', '201704',
       '201705', '201706'],
      dtype='object')

**Q3: change 1st, 2nd & 4th column name to PID, PName, PNum**

In [5]:
df.rename(columns={"PartnerID New":"PID","Group Name or Partner Name":"PName","PN":"PNum"},inplace=True)
df

,PID,PName,Current PL,PNum,Conca,201644,201645,201646,201647,201648,201649,201650,201651,201652,201701,201702,201703,201704,201705,201706
0,NaN,NaN,1N,51645AE,NA51645AE,109.0,104.0,90.0,97.0,72.0,133.0,107.0,101.0,9.0,107.0,44.0,121.0,24.0,17.0,23.0
1,NaN,NaN,1N,51645GE,NA51645GE,0.0,NaN,NaN,5.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,1N,C1823D,NAC1823D,2.0,NaN,NaN,NaN,0.0,NaN,0.0,8.0,NaN,NaN,7.0,NaN,0.0,5.0,NaN
3,NaN,NaN,1N,C1823DE,NAC1823DE,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,1N,C2N92AE,NAC2N92AE,96.0,81.0,48.0,58.0,51.0,65.0,48.0,41.0,18.0,17.0,28.0,41.0,30.0,25.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15302,Westcoast Group,Westcoast,K6,L0S07AE,Westcoast GroupL0S07AE,5.0,2.0,49.0,23.0,369.0,281.0,154.0,132.0,130.0,63.0,65.0,44.0,22.0,1.0,NaN
15303,Westcoast Group,Westcoast,K6,L0S20YC,Westcoast GroupL0S20YC,45.0,39.0,39.0,32.0,94.0,74.0,67.0,51.0,NaN,40.0,36.0,26.0,17.0,21.0,11.0
15304,Westcoast Group,Westcoast,K6,L0S29YC,Westcoast GroupL0S29YC,50.0,45.0,53.0,47.0,105.0,90.0,82.0,75.0,NaN,66.0,59.0,52.0,46.0,42.0,33.0
15305,Westcoast Group,Westcoast,K6,L0S30YC,Westcoast GroupL0S30YC,60.0,49.0,59.0,54.0,111.0,105.0,97.0,89.0,NaN,84.0,75.0,71.0,65.0,63.0,53.0
15306,Westcoast Group,Westcoast,K6,L0S31YC,Westcoast GroupL0S31YC,51.0,48.0,60.0,49.0,106.0,93.0,86.0,80.0,NaN,72.0,68.0,66.0,57.0,55.0,47.0

**Q4: Find count of unique PID**

In [6]:
df["PID"].nunique()

114

**Q5: Find Count of missing PID**

In [7]:
df["PID"].isnull().sum()

270

**Q6: Create another data removing missing PID**

In [11]:
S1=df.copy()

In [12]:
S1.dropna(subset=["PID"],inplace=True)
S1

,PID,PName,Current PL,PNum,Conca,201644,201645,201646,201647,201648,201649,201650,201651,201652,201701,201702,201703,201704,201705,201706
270,1-10LQI-11324,Logicom Middle East,1N,C2P10AE,1-10LQI-11324C2P10AE,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,24.0,NaN,NaN,NaN,NaN,0.0,NaN
271,1-10LQI-11324,Logicom Middle East,1N,C2P11AE,1-10LQI-11324C2P11AE,0.0,NaN,NaN,NaN,NaN,55.0,NaN,NaN,25.0,NaN,NaN,NaN,NaN,0.0,NaN
272,1-10LQI-11324,Logicom Middle East,1N,C2P19AE,1-10LQI-11324C2P19AE,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
273,1-10LQI-11324,Logicom Middle East,1N,C2P20AE,1-10LQI-11324C2P20AE,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,1-10LQI-11324,Logicom Middle East,1N,C2P21AE,1-10LQI-11324C2P21AE,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15302,Westcoast Group,Westcoast,K6,L0S07AE,Westcoast GroupL0S07AE,5.0,2.0,49.0,23.0,369.0,281.0,154.0,132.0,130.0,63.0,65.0,44.0,22.0,1.0,NaN
15303,Westcoast Group,Westcoast,K6,L0S20YC,Westcoast GroupL0S20YC,45.0,39.0,39.0,32.0,94.0,74.0,67.0,51.0,NaN,40.0,36.0,26.0,17.0,21.0,11.0
15304,Westcoast Group,Westcoast,K6,L0S29YC,Westcoast GroupL0S29YC,50.0,45.0,53.0,47.0,105.0,90.0,82.0,75.0,NaN,66.0,59.0,52.0,46.0,42.0,33.0
15305,Westcoast Group,Westcoast,K6,L0S30YC,Westcoast GroupL0S30YC,60.0,49.0,59.0,54.0,111.0,105.0,97.0,89.0,NaN,84.0,75.0,71.0,65.0,63.0,53.0
15306,Westcoast Group,Westcoast,K6,L0S31YC,Westcoast GroupL0S31YC,51.0,48.0,60.0,49.0,106.0,93.0,86.0,80.0,NaN,72.0,68.0,66.0,57.0,55.0,47.0

**Q7: Find frequency or count of PNames and store it in data frame**

In [14]:
A=df.groupby("PName").count()
A

,PID,Current PL,PNum,Conca,201644,201645,201646,201647,201648,201649,201650,201651,201652,201701,201702,201703,201704,201705,201706
PName,,,,,,,,,,,,,,,,,,,
AB S.A.,198,198,198,198,179,181,180,182,180,181,169,177,168,177,170,178,174,170,173
ABM - Algeria,55,55,55,55,8,7,14,12,21,10,7,5,13,4,11,35,31,8,19
ACI Hellas SA,193,193,193,193,144,132,138,149,151,152,146,154,150,141,152,142,149,134,133
Adveo EMEA - Group,200,200,200,200,192,191,0,0,0,0,0,0,0,0,0,0,0,0,0
Agis Computer,188,188,188,188,139,143,158,160,137,150,150,146,0,129,149,148,149,158,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UFP FR,215,215,215,215,176,185,184,183,178,181,181,184,152,183,183,187,185,184,185
UFP UK,210,210,210,210,180,186,185,185,187,190,183,177,110,189,189,189,179,176,192
VOW,219,219,219,219,204,205,198,203,200,192,201,195,0,202,206,200,203,194,198
Westcoast,240,240,240,240,215,215,214,221,213,214,223,218,181,209,219,220,211,207,200
Westcoast France,189,189,189,189,173,174,175,174,172,168,174,165,159,171,167,166,162,154,174

**Q8:Find top 10 PName from the first release**

In [20]:
df.PName.value_counts()[0:10]

TechData EMEA - Group    250
Also EMEA - Group        250
Ingram EMEA - Group      240
Westcoast                240
Despec DE                222
Esprinet IT              221
Rauch                    220
IPS Logistic             220
VOW                      219
Lama Plus                216
Name: PName, dtype: int64

**Q10: Export the output csv in the output.csv format. Make sure your output table are in similar structure as it is in the sample output file**

In [15]:
df.to_csv('C:\\Users\\HP\\Downloads\\Pandas Exercises2 (3)\\File.csv',index=False, header=True)